
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
 <head>
 <!--  <link rel="stylesheet" type="text/css" href="/site_media/base.css" />-->      
    <title>Led Control Panel</title>
</head>
<body>
    <center>
        <h1>Led Control Panel</h1>
        {% block content %}
        {% endblock %} <br />
        <hr />  
    </center>
</body>
</html>
